<html>
    <head>
        <%- include('partials/header1.ejs') %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h2 style="color: red;">Members Only Page</h2>
        <% if (session.loggedin) { %>
            <p>Welcome, <%= session.username %>!</p>
            <%- include('partials/navbar2.ejs')%>
        <% } else { %>
            <p>Please log in.</p>
            <%- include('partials/navbar1.ejs')%>
        <% } %>
       
        <div class="container">
            <h2>Image Gallery</h2>
            <p>Click on the images to enlarge them.</p>
            <div class="container">
              <h2>Image Gallery</h2>
              <p>Click on the images to enlarge them.</p>
              <div id="gallery" class="row"></div>
          </div>
          <script src="/public/galleryScript.js"></script>
      </body>
  </html>
          