<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <% if (session.loggedin) { %>
            <p>Welcome, <%= session.username %>!</p>
            <%- include('partials/navbar2.ejs')%>
        <% } else { %>
            <p>Please log in.</p>
            <%- include('partials/navbar1.ejs')%>
        <% } %>
        <div class="container">
            <h2>Awesome Picture</h2>
            <img class="img2" src="/public/images/awesomepicture.jpg" alt="Awesome Picture">
            <p> This is my grand page</p>
            <p style="color: blue">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
        
    </body>
</html>