<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <h4>NZ Beaches</h4>
        <ul>
            <li>90 Mile Beach</li>
            <li>Mount Maunganui</li>
            <li>Hot Water Beach</li>
            <li>Whangamata</li>
            <li>Whangarei Heads</li>
        </ul>
    </body>
</html>