<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <h4 style= 'font-size:xx-large';>This is my H4 Header with in-line font size adjustment</h4>
        <a href="page1">Page One Link yay!</a>
        <h2> <a href="http://futureskills.co.nz">This goes to Future Skills website</a></h2>
        <h3>This is my H3 Header</h3>
        <h1>This is my H1 Header</h1>
        <h4 style="color: blue">This is my H4 Header with blue 'inline' style</h4>
    </body>
</html>
