<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <% if (session.loggedin) { %>
            <p>Welcome, <%= session.username %>!</p>
            <%- include('partials/navbar2.ejs')%>
        <% } else { %>
            <p>Please log in.</p>
            <%- include('partials/navbar1.ejs')%>
        <% } %>

    
    </body>
</html>
