<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <h2 style="color: red;">Members Only Page</h2>
        <%- include('partials/navbar2.ejs') %>
        <p style="color: blue">
            Welcome to a Member only page. You are now logged in.
        </p>
        <p style="color: green">
            You can now access all the pages that are restricted to members only.
            
        </p>
    </body>
</html>