<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <% if (session.loggedin) { %>
            <p>Welcome, <%= session.username %>!</p>
            <%- include('partials/navbar2.ejs')%>
        <% } else { %>
            <p>Please log in.</p>
            <%- include('partials/navbar1.ejs')%>
        <% } %>
        <h1>This is my NOT my Home Page.</h1>

        <h4>This is my H4 Header</h4>
        <h2>This is my H2 Header</h2>
        <h3>This is my H3 Header</h3>
        <h1>This is my H1 Header</h1>
        <p> This is my page 1

            
        </p>


<h4 style="color: blue">This is my H4 Header with blue 'inline' style</h4>

    
    </body>
</html>
